@using TaxMe.Models
@model TaxBreakdown

@{
    ViewBag.Title = "TaxBreakdown";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
  <h4>Tax Breakdown</h4>
    <table class="table col-lg-1 col-lg-1 col-lg-7 col-lg-3">
      <tbody>
        <tr class="row lead">
          <td colspan="3">Gross Annual Income</td>
          <td colspan="3" class="text-right">@Model.GrossAnnualIncome.ToString("#,##0.00")</td>
        </tr>
        @foreach (Tax tax in Model.Taxes)
        {
          <tr class="row">
            <td></td>
            <td colspan="2">@tax.Name</td>
            <td class="text-right">@tax.Amount.ToString("#,##0.00")</td>
          </tr>
          if (tax.Lines.Count() > 1)
          {
            foreach (TaxLine taxLine in tax.Lines)
            {
              <tr class="small row">
                <td></td>
                <td></td>
                <td>@taxLine.Name</td>
                <td class="text-right">@taxLine.Amount.ToString("#,##0.00")</td>
              </tr>
            }
          }
        }
        <tr class="row lead">
          <td colspan="3">Total Tax</td>
          <td class="text-right">@Model.TotalTax.ToString("#,##0.00")</td>
        </tr>
        <tr class="row lead">
          <td colspan="3">Net Annual Income</td>
          <td class="text-right">@Model.NetAnnualIncome.ToString("#,##0.00")</td>
        </tr>
      </tbody>
    </table>